<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.imple.board.mapper.BoardMapper">
<select id="countAll">
	select count(*) from board
</select>

<select id="selectAll">
	select * 
	  from board
	 order by bno
</select>

<select id="selectPage">
	select * 
	  from board
	 order by bno
</select>

<select id="selectByBno">
	select *
	  from board
	 where bno = #{bno}
</select>

<select id="selectByWriter">
	select *
	  from board
	 where writer = #{writer}
</select>

<insert id="insertBoard">
 	<selectKey keyProperty="bno" resultType="long" order="BEFORE"> <!--insert하고 bno값을 selectkey로 확인할수있게 만들어줌 -->
		select coalesce(max(bno), 0) + 1 from board
	</selectKey>
	insert into board (bno, title, writer, content)
	values (
		#{bno, 				jdbcType=BIGINT},
<!-- 		board_bno_seq.nextval, -->
		#{title,			jdbcType=VARCHAR},
		#{writer,			jdbcType=VARCHAR},
		#{content,  		jdbcType=VARCHAR}
	)
</insert>

<update id="updateBoard">
	update board
	   set title	=	#{title,	jdbcType=VARCHAR},
	   	   content  =	#{content,  jdbcType=VARCHAR},
	   	   writer	=	#{writer,	jdbcType=VARCHAR},
	   	   regdate  = 	 SYSDATE
     where bno			= 	#{bno}
</update>

<update id="increaseViewCount">
    update board
    set viewcnt = viewcnt + 1
    where bno = #{bno}
</update>

<delete id="delete">
	delete from board
	 where bno = #{bno}
</delete>





</mapper>